/* עיצוב כללי לדף */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  /* Container לטופס */
  .login-container {
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* שדות טופס */
  .full-width {
    width: 100%;
    margin-bottom: 16px;
  }
  
  /* כפתור התחברות */
  button[color="primary"] {
    background-color: #4caf50;
    color: white;
    width: 100%;
    padding: 10px;
  }
  
  button[color="primary"]:hover {
    background-color: #388e3c;
  }
  